.amuse-box {
  background-color: var(--secondry);
  padding: 10px;
}

.amuse-box h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

.game-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  border-top: 7px solid var(--primary);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0px 0px;
}

.game .img {
  max-height: 500px;
  background-color: rgb(242 242 242);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game .img img {
  object-fit: contain;
  border-radius: 1%;
}

.game .text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background: #181616;
  border-radius: 0px 0px 5px 5px;
  color: white;
  padding: 10px 10px 20px 15px;
}

.game .text .description {
  width: 700px;
}

.game .text .view-btn a {
  display: block;
  width: 175px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  background: var(--primary);
  box-shadow: 0px 4px 30px var(--primary-shadow);
  border: 3px solid var(--primary);
  border-radius: 4px;
  transition: 0.1s;
}

.game .text .view-btn a:hover {
  background: none;
  box-shadow: none;
  color: var(--primary);
}

/* Responsive styling  */
@media screen and (max-width: 1366px) {
  .game .text .description {
    width: 475px;
  }
}
@media screen and (max-width: 1070px) {
  .game .text .description {
    width: 425px;
  }
}
@media screen and (max-width: 950px) {
  .game .text .description {
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .game .text .description {
    width: 375px;
  }
}
@media screen and (max-width: 850px) {
  .game .text .description {
    width: 350px;
  }
}
@media screen and (max-width: 800px) {
  .game .text .description {
    width: 325px;
  }
  .game .img img {
    width: 325px;
  }
}
@media screen and (max-width: 750px) {
  .game .text .description {
    width: 300px;
  }
  .game .img img {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .game .text .description {
    width: 250px;
  }
  .game .img img {
    width: 250px;
  }
}
@media screen and (max-width: 600px) {
  .game .text .description {
    width: 200px;
  }
  .game .img img {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  .game-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .game .text .description {
    width: auto;
  }
  .game .img img {
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .game .img img {
    width: 350px;
  }
}

@media screen and (max-width: 375px) {
  .game .img img {
    width: 300px;
  }
}
@media screen and (max-width: 330px) {
  .game .img img {
    width: 275px;
  }
}
@media screen and (max-width: 305px) {
  .game .img img {
    width: 250px;
  }
}
@media screen and (max-width: 280px) {
  .game .img img {
    width: 225px;
  }
}
@media screen and (max-width: 250px) {
  .game .img img {
    width: 200px;
  }
}
@media screen and (max-width: 230px) {
  .game .img img {
    width: 175px;
  }
}
