@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: rgb(66, 237, 84);
  --secondry: black;
  --primary-shadow: rgba(66, 237, 84, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.protect-header {
  height: 54px;
}

svg {
  display: block;
}
.app {
  min-height: 100vh;
}
